<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"/>
    <title>{{ site_title }}</title>
    <link rel="stylesheet" href="{{ theme_url }}/assets/css/main.css"/>
    <script type="application/ld+json">
		{
		  "@context" : "http://schema.org",
		  "@type" : "WebSite",
		  "name" : "{{ site_title }}",
		  "url" : "{{ base_url }}"
		}

    </script>
</head>
<body>
<div id="page-wrapper">
    <div id="wrapper">
        <section class="panel banner right">
            <div class="content color0 span-3-75">
                <h1 class="major">{{ meta.page1title }}</h1>
                <p>{{ meta.subtitle }}</p>
                <ul class="icons">
                    {% for link,icon in meta.social %}
                        <li><a href="{{ link }}" class="icon fa-{{ icon }}" target="_blank"><span
                                    class="label">{{ icon }}</span></a>
                        </li>
                    {% endfor %}
                </ul>

                <ul class="actions">
                    <li><a href="#motivation" class="button special color1 circle icon fa-angle-right">Next</a></li>
                </ul>

            </div>
            <div class="image filtered span-1-75" data-position="25% 25%">
                <img src="{{ base_url }}/{{ meta.image }}"
                     alt="{{ site_title }}"/>
            </div>


        </section>

        <!-- Panel (Spotlight) -->
        <section class="panel spotlight medium left" id="motivation">
            <div class="content span-5">
                <h2 class="major">{{ meta.page2title }}</h2>
                <p>{{ meta.oneliner }}</p>
                <ul class="actions">
                    <li><a href="#skills" class="button special color1 circle icon fa-angle-right">Next</a></li>
                </ul>
            </div>
            <div class="image filtered tinted" data-position="top right">
                <img src="{{ base_url }}/{{ meta.onelinerimage }}" alt=""/>
            </div>

        </section>


        <!-- Panel (Spotlight) -->
        <section class="panel spotlight medium right" id="skills">
            <div class="intro color2-alt">
                <h2 class="major">{{ meta.page3title }}</h2>
                {% for skill in meta.skills %}
                    <li>{{ skill }}</li>
                {% endfor %}
                <br>
            </div>
            <div class="content span-7">
                <p>{{ meta.skillsdescription }}</p>
                <ul class="actions">
                    <li><a href="#experience" class="button special color1 circle icon fa-angle-right">Next</a></li>
                </ul>
            </div>
            <div class="image filtered tinted" data-position="top left">
                <img src="images/pic02.jpg" alt=""/>
            </div>
        </section>

        <!-- Panel -->
        <section class="panel" id="experience">
            <div class="intro color2">
                <ul class="actions" style="display:block">
                    <li><a href="#contact" class="button special color1 circle icon fa-angle-right">Next</a></li>
                </ul>
                <h2 class="major">{{ meta.page4title }}</h2>
                <br>
                {% for year,experience in meta.experiences %}
                    <p><em>{{ year }}</em><br>
                        {{ experience }}
                    </p>
                {% endfor %}
                <br>

            </div>
            <div class="gallery">
                <div class="group span-3">
                    <a class="image filtered span-3" data-position="bottom">
                        <img src="{{ base_url }}/{{ meta.experienceimage1 }}" alt=""/>
                    </a>
                    <a class="image filtered span-1-5" data-position="center">
                        <img src="{{ base_url }}/{{ meta.experienceimage2 }}" alt=""/>
                    </a>
                    <a class="image filtered span-1-5" data-position="bottom">
                        <img src="{{ base_url }}/{{ meta.experienceimage3 }}" alt=""/>
                    </a>
                </div>
                <a class="image filtered span-2-5" data-position="top">
                    <img src="{{ base_url }}/{{ meta.experienceimage4 }}" alt=""/>
                </a>

            </div>
        </section>

        <!-- Panel -->
        <section class="panel color4-alt" id="contact">
            <div class="intro color4">
                <h2 class="major">{{ meta.page5title }}</h2>
                <p>{{ meta.contactme }}</p>
            </div>
            <div class="inner columns divided">
                <div class="span-3-25">
                    <form method="get" action="mailto:{{ meta.mailto }}">

                        <input type="submit" value="Send Message" class="button special"/>

                    </form>
                </div>
            </div>
        </section>

    </div>
</div>


<script src="{{ theme_url }}/assets/js/jquery.min.js"></script>
<script defer src="{{ theme_url }}/assets/js/skel.min.js"></script>
<script defer src="{{ theme_url }}/assets/js/main.js"></script>
</body>
</html>
